<md-sidenav-container>
	<md-sidenav mode="side" opened="true" #start (open)="closeStartButton.focus()" fxLayout="row" style="background-color:rgba(85, 90, 99,0.6);">
		<sidebar-selector></sidebar-selector>
	</md-sidenav>

	<md-toolbar style="position:fixed;">
		Characters of &nbsp;
		<span title="{{vn.title_original}}">{{limitedVnOriginalTitle}}</span>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>
			<a [routerLink]="['/assessment', linkAssessmentId, 'fill']">Fill</a>
		</span>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<span>
			<a [routerLink]="['/vn', linkAssessmentId, 'character']">Character</a>
		</span>
		<span style="flex: 1 1 auto;"></span>
		<form #form="ngForm" name="search_form">
			<md-input #search placeholder="keyword" align="end" name="search_query">
			</md-input>
			<button type="submit" md-button routerLink="/search/{{search.value}}" routerLinkActive="active">Search</button>
		</form>
	</md-toolbar>

	<div class="app-content">
		<assessment-character-selector [vn]="vn"></assessment-character-selector>
	</div>
	
</md-sidenav-container>