.secondary-toolbar {
  height: 32px;
}

.app-content {
  margin-top: 110px;
}

.sub-assessment-button {
  line-height: 20px;
}

.sub-assessment-navigation-active > button {
  color: #fff;
  background-color: darkcyan;
}