<md-toolbar>
	<span>
		<a routerLink="/home" routerLinkActive="active">Home</a>
	</span>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<span>
		<strong>
		<a routerLink="/vn" routerLinkActive="active">VN</a>
		</strong>
	</span>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<form #form="ngForm" name="search_form">
		<md-input #search placeholder="keyword" align="end" name="search_query">
		</md-input>
		<button type="submit" md-button routerLink="/search/{{search.value}}" routerLinkActive="active">Search</button>
	</form>
</md-toolbar>

{{debugDump()}}<br /><br />

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Released</th>
			<th>Predictive Eye</th>
			,<th>One Seal</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr template="ngFor let vn of vns | paginate: {id: 'pagina', itemsPerPage: 10, currentPage: query.page, totalItems: query.total}">
			<td>{{vn.id}}</td>
			<td>{{vn.title_jp}}</td>
			<td>{{vn.date_release}}</td>
			<td>
				<span *ngIf="vn.node =='vn'">
					<span *ngIf="vn.date_start && !vn.date_end && !vn.status">reading</span>
					<span *ngIf="!vn.date_start && !vn.date_end && !vn.status">idle</span>
					<span *ngIf="vn.date_start && vn.date_end && !vn.status">indistinguishable</span>
					<span>-</span>
					<span>{{vn.node || "x"}}</span>
					<span>{{vn.score_story || "x"}}</span>
					<span>{{vn.score_naki || "x"}}</span>
					<span>{{vn.score_nuki || "x"}}</span>
					<span>{{vn.score_comedy || "x"}}</span>
					<span>{{vn.score_graphic || "x"}}</span>
					<span>{{vn.score_all || "x"}}</span>
				</span>
				<span *ngIf="vn.node != 'vn'">
					<span *ngIf="vn.date_start && !vn.date_end && !vn.status">reading</span>
					<span *ngIf="!vn.date_start && !vn.date_end && !vn.status">idle</span>
					<span *ngIf="vn.date_start && vn.date_end && !vn.status">indistinguishable</span>
					<span>-</span>
					<span>{{vn.node || "x"}}</span>
					<span>{{vn.score_nuki || "x"}}</span>
					<span>{{vn.score_all || "x"}}</span>
				</span>
			</td>
			<td>
				<span *ngIf="vn.date_start && vn.date_end && vn.node && vn.score_story && vn.score_naki && vn.score_nuki && vn.score_comedy && vn.score_graphic && vn.score_all && vn.status">&#x2713;</span>
				<span *ngIf="!vn.date_start || !vn.date_end || !vn.node || !vn.score_story || !vn.score_naki || !vn.score_nuki || !vn.score_comedy || !vn.score_graphic || !vn.score_all || !vn.status">&#x2718;</span>
			</td>
			<td>
				<!-- <a md-button>Overview</a> -->
				<a md-button [routerLink]="['/vn', vn.id, 'assessment']">Compose</a>
				<a md-button [routerLink]="['/vn', vn.id, 'character']">Character</a>
				<a md-button [routerLink]="['/vn', vn.id, 'edit']">Edit</a>
			</td>
		<tr>
	</tbody>
</table>

<!-- <a md-button routerLink="/search/{{query.filter}}/{{nextPage()}}" routerLinkActive="active">Next</a> -->

<pagination-controls (pageChange)="changePage($event)" id="pagina"></pagination-controls>