/* Material sidenav style */
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

/* Custom style */
.vertical-align-label {
    display:inline-block;
    width:100px;
    text-align:right;
}
md-sidenav-container > md-sidenav{
    background-color:rgba(85, 90, 99,0.6);
}
.spanning-flex {
    flex: 1 1 auto;
}
.sub-toolbar {
    height: 64px;
}
.new-vn-button {
    position: fixed;
    margin: 0 18px;
    bottom: 15px;
    right: 15px;
    z-index: 2;
}
.vn-card {
    margin: 10px 0;
}
.vn-image-container {
}
.vn-image {
    width: auto;
    max-width: 100%;
    max-height: 200px;
    border-color: #d3d1cb;
}
.vn-properties-area {
    background-color: #e2ffd9;
    margin: 5px;
}
mat-form-field.full-width {
    width: 100%;
}