<!--<md-grid-list cols="3" rowHeight="200px" gutterSize="20px"[style.background]="'lightblue'">
	<md-grid-tile>One</md-grid-tile>
	<md-grid-tile>Two</md-grid-tile>
	<md-grid-tile>Three</md-grid-tile>
</md-grid-list>-->

<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
	<md-card template="ngFor let vn of vns" fxFlex="33" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33" class="flex-item">
		<md-card-title>{{vn.title_jp}}</md-card-title>
		<md-card-content>
			<div fxLayout="row">
				<div fxFlex="30" style="background-color:#d3d1cb;">
					<img [src]="vn.image" style="width:auto; max-width:100%; max-height:200px;">
				</div>
				<div fxFlex="70" style="background-color:#e2ffd9; margin:5px;">
					<p><span class="vertical-align-label">Title : </span>{{vn.title_en}}</p>
					<p><span class="vertical-align-label">Released : </span>{{vn.date_release}}</p>
				</div>
			</div>
		</md-card-content>

		<md-card-actions align="end">
			<a md-button [routerLink]="['/vn', vn.id, 'edit']">Edit</a>
			<button md-button on-click="popAssessments(vn.id)">Assessments</button>
			<!--compose if no active assessment || resume if active assessment exist-->
		</md-card-actions>
	</md-card>
</div>


<button md-fab style="position:fixed; right:10px; bottom:10px;" routerLink="/vn/new" routerLinkActive="active">
	<md-icon class="md-24">add</md-icon>
</button>