/* Material sidenav style */
.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

/* Custom style */
.cover-image-container {
  max-height: 200px;
  max-width: 300px;
  width: auto;
  height: 200px;
}
.cover-image {
  max-height: 200px;
  max-width: 300px;
  width: auto;
  height: 200px;
  display: block;
  margin: auto;
  outline: none;
  border-color: #65d8cc;
  box-shadow: 0 0 15px #9ecaed;
  transition: box-shadow 0.8s ease;
}
.cover-image:hover {
  box-shadow: 0 0 30px #e949a5;
}
mat-form-field.full-width {
  width: 100%;
}
mat-form-field.full-width {
  width: 100%;
}
mat-form-field.width-60 {
  width:60%
}
mat-form-field.width-60 {
  width:60%
}
.saving-spinner {
  height: 25px;
  width: 25px;
  display: inline-block;
}
.relation-list {
  padding: 0 0;
}
.advance-toggle {
  margin: 5px 0 15px 0;
}
.remove-relation-button {
  min-width: 10px;
  line-height: 18px;
  padding: 0;
}
.spanning-flex {
  flex: 1 1 auto;
}
.sidebar-area {
  background-color:rgba(85, 90, 99,0.6);
}
.button-area {
  margin: 20px 20px 30px;
}