<md-sidenav-container>
	<md-sidenav mode="side" opened="true" #start (open)="closeStartButton.focus()" fxLayout="row" style="background-color:rgba(85, 90, 99,0.6);">
		<sidebar-selector></sidebar-selector>
	</md-sidenav>
	
	<md-toolbar>
		<span>Filling {{vn.title_original}}</span>
		<!--<button md-button disabled (click)="start.open()">Menu</button>-->
		<span style="flex: 1 1 auto;"></span>
		<a md-raised-button [routerLink]="['/vn', vn.id, 'edit-screenshot']">Screenshots</a>
		<!--<a [routerLink]="['/assessment', linkAssessmentId, 'character']">Character</a>-->

	</md-toolbar>

	<div class="flex-container" fxLayout="column">

	<div class="portal-search-area flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
		<div fxFlex="90">
			<form #form="ngForm" name="portalSearchForm">
				<md-input-container fxFlex="80" style="width:100%;">
					<input mdInput placeholder="search" #portalsearch value=''>
				</md-input-container>
				<button md-raised-button type="submit" on-click="portalSearchVn(portalsearch.value)" [disabled]="toggle.portalSearchButtonDisable">Search</button>
			</form>
		</div>
	</div>

	<ng-template [ngIf]="searchDestination.vndb || searchDestination.egs || searchDestination.vndbRelease">
		<button md-button on-click="applyDestination()" [disabled]="toggle.portalDestinationApplyButtonDisable">Apply</button>
	</ng-template>
	
	<ng-template [ngIf]="portalSearch.vndb?.length || portalSearch.egs?.length">
		<div class="portal-search-result-area flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
			<ng-template [ngIf]="portalSearch.vndb?.length">
				<div class="portal-search-result-vndb" fxFlex="45">
					<h4>VNDB</h4>
					<ng-template ngFor let-vndbNode [ngForOf]="portalSearch.vndb">
						<md-card class="portal-vndb-card">
							<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap">
								<div fxFlex="30" class="portal-vndb-image-container">
									<img [src]="vndbNode.image" class="portal-vndb-image">
								</div>
								<div fxFlex class="portal-vndb-property">
									<p>Title: {{vndbNode.original}}</p>
									<p>Released: {{vndbNode.released}}</p>
								</div>
							</div>
							<md-card-actions align="end">
								<button md-raised-button on-click="retrieveVndbReleases(vndbNode.id, $event)" [disabled]="toggle.portalDestinationPullReleasesButtonDisable">Pull Releases</button>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<md-checkbox [(ngModel)]="vndbNode.selected" (ngModelChange)="selectVndbDestination($event, vndbNode)"></md-checkbox>
							</md-card-actions>
						</md-card>
					</ng-template>


					<ng-template [ngIf]="portalSearch.vndbRelease?.length">
						<div class="portal-search-result-vndb-release">
							<h4>Releases</h4>
							<ng-template ngFor let-vndbReleaseNode [ngForOf]="portalSearch.vndbRelease">
								<md-card class="portal-vndb-card">
									<p>Original: {{vndbReleaseNode.original}}</p>
									<p>Title: {{vndbReleaseNode.title}}</p>
									<p>Released: {{vndbReleaseNode.released}}</p>
									<md-chip-list>
										<ng-template [ngIf]="vndbReleaseNode.platforms.length">
											<span>
												<ng-template ngFor let-platform [ngForOf]="vndbReleaseNode.platforms">
													<md-chip color="primary" selected="true">{{platform}}</md-chip>
												</ng-template>
											</span>
										</ng-template>
										<ng-template [ngIf]="vndbReleaseNode.patch">
											<md-chip color="accent" selected="true">patch</md-chip>
										</ng-template>
										<ng-template [ngIf]="vndbReleaseNode.type == 'trial'">
											<md-chip color="warn" selected="true">trial</md-chip>
										</ng-template>
										<md-chip>R{{vndbReleaseNode.minage}}</md-chip>
									</md-chip-list>
									<md-card-actions align="end">
										<md-checkbox [(ngModel)]="vndbReleaseNode.selected" (ngModelChange)="selectVndbReleaseDestination($event, vndbReleaseNode)"></md-checkbox>
									</md-card-actions>
								</md-card>
							</ng-template>
						
						</div>
					</ng-template>
					

				</div>
			</ng-template>

			<ng-template [ngIf]="portalSearch.egs?.length">
				<div class="portal-search-result-egs" fxFlex="45">
					<h4>EGS</h4>
					<ng-template ngFor let-egsNode [ngForOf]="portalSearch.egs">
						<md-card>
							<p>Title: {{egsNode.gamename}}</p>
							<p>Released: {{egsNode.sellday}}</p>
							<p>Brand: {{egsNode.brandname}}</p>
							<p>Platform: {{egsNode.model}}</p>
							<md-card-actions align="end">
								<md-checkbox [(ngModel)]="egsNode.selected" (ngModelChange)="selectEgsDestination($event, egsNode)"></md-checkbox>
							</md-card-actions>
						</md-card>
					</ng-template>
				</div>
			</ng-template>
		</div>
	</ng-template>

	<div class="vn-fill-area flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
		<div fxFlex="40">
			
			<md-input-container style="width:100%;">
				<input mdInput placeholder="original title" [(ngModel)]="vn.title_original">
			</md-input-container>
			<md-input-container style="width:100%;">
				<input mdInput placeholder="romaji title" [(ngModel)]="vn.title_romaji">
			</md-input-container>
			<div fxLayout="row">
				<md-input-container style="width:65%">
					<input mdInput placeholder="alias" [(ngModel)]="vn.alias">
				</md-input-container>
				<md-input-container style="width:35%">
					<input mdInput placeholder="hashtag" [(ngModel)]="vn.hashtag">
				</md-input-container>
			</div>
			<br />
			<div fxLayout="row">
				<md-input-container fxFlex="30">
					<input mdInput disabled [(ngModel)]="vn.developer_id">
				</md-input-container>
				<md-select placeholder="Developer" [(ngModel)]="vn.developer_id" name="developer" fxFlex="70">
					<ng-template ngFor let-developer [ngForOf]="developers">
						<md-option [value]="developer.id">
							{{developer.original || "-"}} | {{developer.romaji || "-"}}
						</md-option>
					</ng-template>
				</md-select>
			</div>

			<br />
			<md-input-container>
				<input mdInput placeholder="date release" type="date" [(ngModel)]="vn.date_release">
			</md-input-container>
			<md-input-container style="width:70%">
				<input mdInput placeholder="image url" [(ngModel)]="vn.image">
			</md-input-container>
			<br />

			<md-slide-toggle [(ngModel)]="toggle.advanceOptions" [color]="primary">Advance options</md-slide-toggle>
			<br />

			<div *ngIf="toggle.advanceOptions">

				<md-input-container>
					<input mdInput placeholder="Homepage" [(ngModel)]="vn.homepage">
				</md-input-container>
				<md-input-container>
					<input mdInput placeholder="Twitter" [(ngModel)]="vn.twitter">
				</md-input-container>
				<br />

				<md-input-container>
					<input mdInput placeholder="Game Engine" [(ngModel)]="vn.game_engine">
				</md-input-container>
				<br />

				<md-input-container>
					<input mdInput placeholder="vndb vn id" [(ngModel)]="vn.vndb_vn_id">
				</md-input-container>
				<button md-raised-button (click)="retrieveVndbVn()" [disabled]="toggle.vndbIdLoadButtonDisable">Load</button>
				<md-input-container>
					<input mdInput placeholder="VNDB Release ID" [(ngModel)]="vn.vndb_release_id">
				</md-input-container>
				<md-input-container>
					<input mdInput placeholder="EGS Game ID" [(ngModel)]="vn.erogamescape_game_id">
				</md-input-container>
				<br />

				<md-input-container>
					<input mdInput placeholder="Related VN ID" [(ngModel)]="vn.related_vn_id">
				</md-input-container>

			</div>

			<button *ngIf="fillState == 'new'" md-raised-button (click)="createVn()" [disabled]="toggle.saveButtonDisable">Create</button>
			<button *ngIf="fillState == 'edit'" md-raised-button (click)="updateVn()" [disabled]="toggle.saveButtonDisable">Update</button>
			<ng-template [ngIf]="toggle.saveButtonDisable">
				<md-progress-spinner mode="indeterminate" style="height: 25px;width: 25px;display: inline-block;"></md-progress-spinner>
			</ng-template>
		</div>
		<div fxFlex="40">
			<div style="max-height:200px; max-width:300px; width:auto;height:200px;background-color:#65d8cc;">
				<img src="{{vn.image}}" style="max-height:200px; max-width:300px; width:auto;height:200px;display:block;margin:auto;">
			</div>
			<br />
			<ng-template [ngIf]="toggle.advanceOptions">
				<button md-raised-button on-click="refreshCover(vn.id)">Force refresh</button>
			</ng-template>
			<br />
			<br />

			<ng-template [ngIf]="toggle.advanceOptions">
				<div>
					Dev create add-on
					<md-input-container style="width:100%;">
						<input mdInput placeholder="Original" #devOriginal>
					</md-input-container>
					<md-input-container style="width:100%;">
						<input mdInput placeholder="Furi" #devFuri>
					</md-input-container>
					<md-input-container style="width:100%;">
						<input mdInput placeholder="Romaji" #devRomaji>
					</md-input-container>
					<button md-button (click)="createDeveloper(devOriginal.value, devFuri.value, devRomaji.value);" [disabled]="toggle.addDeveloperButtonDisable">Add Dev</button>

					<md-divider></md-divider>
				</div>
			</ng-template>


			<ng-template [ngIf]="vn.relations.length">
				<div class="flex-container" fxLayout="row">
					<div fxFlex="100">
						<md-list>
							<h3 md-subheader>Relations</h3>
							<ng-template ngFor let-relation [ngForOf]=" vn.relations">
								<md-list-item style="padding:0 0;">
									<md-icon md-list-avatar>folder</md-icon>
									<h4 md-line>{{relation.title_original}}</h4>
									<p md-line>{{relation.date_release}}</p>
									<button md-button on-click="removeRelation(relation)" style="min-width:10px; line-height:18px; padding:0;" title="remove relation">x</button>
								</md-list-item>
							</ng-template>
							<md-divider></md-divider>
						</md-list>
					</div>
				</div>
			</ng-template>
			
		</div>
	</div>

	</div>
</md-sidenav-container>