<md-sidenav-container>
	<md-sidenav mode="side" opened="true" #start (open)="closeStartButton.focus()" fxLayout="row" style="background-color:rgba(85, 90, 99,0.6);">
		<sidebar-selector></sidebar-selector>
	</md-sidenav>
	
	<md-toolbar>
		<span>Filling {{vn.title_original}}</span>
		<!--<button md-button disabled (click)="start.open()">Menu</button>-->
		<span style="flex: 1 1 auto;"></span>
		<a md-raised-button [routerLink]="['/vn', vn.id, 'edit-screenshot']">Screenshots</a>
		<!--<a [routerLink]="['/assessment', linkAssessmentId, 'character']">Character</a>-->

	</md-toolbar>

	<div class="flex-container" fxLayout="column">

	<div class="portal-search-area flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
		<div fxFlex="90">
			<form #form="ngForm" name="portalSearchForm">
				<md-input-container fxFlex="80" style="width:100%;">
					<input md-input placeholder="search" #portalsearch value=''>
				</md-input-container>
				<button md-raised-button type="submit" on-click="portalSearchVn(portalsearch.value)">Search</button>
			</form>
		</div>
	</div>

	<button md-button on-click="applyDestination()">Apply</button>
	
	<div class="portal-search-result-area flex-container" fxLayout="row" fxLayoutWrap="wrap" template="ngIf portalSearch.vndb?.length || portalSearch.egs?.length" fxLayoutAlign="space-around stretch">
		<div class="portal-search-result-vndb" template="ngIf portalSearch.vndb?.length" fxFlex="45">
			<h4>VNDB</h4>
			<md-card template="ngFor let vndbNode of portalSearch.vndb" class="portal-vndb-card">
				<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap">
					<div fxFlex="30" class="portal-vndb-image-container">
						<img [src]="vndbNode.image" class="portal-vndb-image">
					</div>
					<div fxFlex class="portal-vndb-property">
						<p>Title: {{vndbNode.original}}</p>
						<p>Released: {{vndbNode.released}}</p>
					</div>
				</div>
				<md-card-actions align="end">
					<md-checkbox [(ngModel)]="vndbNode.selected" (ngModelChange)="selectVndbDestination($event, vndbNode)"></md-checkbox>
				</md-card-actions>
			</md-card>
		</div>

		<div class="portal-search-result-egs" template="ngIf portalSearch.egs?.length" fxFlex="45">
			<h4>EGS</h4>
			<md-card template="ngFor let egsNode of portalSearch.egs">
				<p>Title: {{egsNode.gamename}}</p>
				<p>Released: {{egsNode.sellday}}</p>
				<p>Brand: {{egsNode.brandname}}</p>
				<p>Platform: {{egsNode.model}}</p>
				<md-card-actions align="end">
					<md-checkbox [(ngModel)]="egsNode.selected" (ngModelChange)="selectEgsDestination($event, egsNode)"></md-checkbox>
				</md-card-actions>
			</md-card>
		</div>
	</div>

	<div class="vn-fill-area flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
		<div fxFlex="40">
			
			<md-input-container style="width:100%;">
				<input md-input placeholder="original title" [(ngModel)]="vn.title_original">
			</md-input-container>
			<md-input-container style="width:100%;">
				<input md-input placeholder="romaji title" [(ngModel)]="vn.title_romaji">
			</md-input-container>
			<div fxLayout="row">
				<md-input-container style="width:65%">
					<input md-input placeholder="alias" [(ngModel)]="vn.alias">
				</md-input-container>
				<md-input-container style="width:35%">
					<input md-input placeholder="hashtag" [(ngModel)]="vn.hashtag">
				</md-input-container>
			</div>
			<br />
			<div fxLayout="row">
				<md-input-container fxFlex="30">
					<input md-input disabled [(ngModel)]="vn.developer_id">
				</md-input-container>
				<md-select placeholder="Developer" [(ngModel)]="vn.developer_id" name="developer" fxFlex="70">
					<md-option template="ngFor let developer of developers" [value]="developer.id">
						{{developer.original || "-"}} | {{developer.romaji || "-"}}
					</md-option>
				</md-select>
			</div>

			<br />
			<md-input-container>
				<input md-input placeholder="date release" type="date" [(ngModel)]="vn.date_release">
			</md-input-container>
			<md-input-container style="width:70%">
				<input md-input placeholder="image url" [(ngModel)]="vn.image">
			</md-input-container>
			<br />

			<md-slide-toggle [(ngModel)]="toggle.advanceOptions" [color]="primary">Advance options</md-slide-toggle>
			<br />

			<div *ngIf="toggle.advanceOptions">

				<md-input-container>
					<input md-input placeholder="Homepage" [(ngModel)]="vn.homepage">
				</md-input-container>
				<md-input-container>
					<input md-input placeholder="Twitter" [(ngModel)]="vn.twitter">
				</md-input-container>
				<br />

				<md-input-container>
					<input md-input placeholder="Game Engine" [(ngModel)]="vn.game_engine">
				</md-input-container>
				<br />

				<md-input-container>
					<input md-input placeholder="vndb vn id" [(ngModel)]="vn.vndb_vn_id">
				</md-input-container>
				<button md-raised-button (click)="retrieveVndbVn()">Load</button>
				<md-input-container>
					<input md-input placeholder="EGS Game ID" [(ngModel)]="vn.erogamescape_game_id">
				</md-input-container>
				<br />

				<md-input-container>
					<input md-input placeholder="Related VN ID" [(ngModel)]="vn.related_vn_id">
				</md-input-container>

			</div>

			<button *ngIf="fillState == 'new'" md-raised-button (click)="createVn()">Create</button>
			<button *ngIf="fillState == 'edit'" md-raised-button (click)="updateVn()">Update</button>
		</div>
		<div fxFlex="40">
			<div style="max-height:200px; max-width:300px; width:auto;height:200px;background-color:#65d8cc;">
				<img src="{{vn.image}}" style="max-height:200px; max-width:300px; width:auto;height:200px;display:block;margin:auto;">
			</div>
			<br />
			<button md-raised-button on-click="refreshCover(vn.id)" template="ngIf toggle.advanceOptions">Force refresh</button>
			<br />
			<br />

			<div template="ngIf toggle.advanceOptions">
				Dev create add-on
				<md-input-container style="width:100%;">
					<input md-input placeholder="Original" #devOriginal>
				</md-input-container>
				<md-input-container style="width:100%;">
					<input md-input placeholder="Furi" #devFuri>
				</md-input-container>
				<md-input-container style="width:100%;">
					<input md-input placeholder="Romaji" #devRomaji>
				</md-input-container>
				<button md-button (click)="createDeveloper(devOriginal.value, devFuri.value, devRomaji.value);">Add Dev</button>

				<md-divider></md-divider>
			</div>


			<div class="flex-container" fxLayout="row" template="ngIf vn.relations">
				<div fxFlex="100">
					<md-list>
						<h3 md-subheader>Relations</h3>
						<md-list-item template="ngFor let relation of vn.relations" style="padding:0 0;">
							<md-icon md-list-avatar>folder</md-icon>
							<h4 md-line>{{relation.title_original}}</h4>
							<p md-line>{{relation.date_release}}</p>
							<button md-button on-click="removeRelation(relation)" style="min-width:10px; line-height:18px; padding:0;" title="remove relation">x</button>
						</md-list-item>
						<md-divider></md-divider>
					</md-list>
				</div>
			</div>
			
		</div>
	</div>

	</div>
</md-sidenav-container>