
	<md-menu md-position-mode="target-right target" style="position:absolute;right:20px">
		<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
			<md-icon md-menu-origin md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_more_vert_48px.svg"></md-icon>
		</md-button>
		<md-menu-content width="4">
			<md-menu-item ng-repeat="item in [1, 2, 3]">
				<md-button ng-click="">
					<div layout="row">
						<p flex>Option {{item}}</p>
						<md-icon md-menu-align-target md-svg-icon=""></md-icon>
					</div>
				</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>

	<br />
	<br />

	<md-content  layout="column" flex style="background-color: transparent;">
		<md-data-table-toolbar ng-show="!selected.length" style="background-color: transparent;">
			<h4 class="md-title">Visual</h4>
		</md-data-table-toolbar>
		<md-data-table-toolbar class="alternate" ng-show="selected.length" style="background-color: transparent;">
			<div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
			<div flex></div>
			<md-button class="md-icon-button md-raised" ng-click="deleteCharacter($event)" aria-label="delete">
				<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_delete_48px.svg"></md-icon>
			</button>
		</md-data-table-toolbar>

		<md-data-table-container>
			<table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred" style="background-color: transparent;">
				<thead md-order="query.order" md-trigger="onorderchange">
					<tr>
						<th order-by="vn_id" name="vn id" unit=""></th>
						<th order-by="kanji" name="kanji" unit=""></th>
						<th order-by="betsumyou" name="betsumyou" unit=""></th>
						<th order-by="yobikata" name="yobikata" unit=""></th>
						<th order-by="created_at" name="Created" unit="date"></th>
					</tr>
				</thead>
				<tbody>
					<tr md-disable-select="characters.id === 'none'" ng-repeat="char in characters.data | orderBy: query.order">
						<td>{{char.vn_id}}</td>
						<td>{{char.kanji}}</td>
						<td>{{char.betsumyou}}</td>
						<td>{{char.yobikata}}</td>
						<td>{{char.created_at}}</td>
						<td><md-button ui-sref="viewCharacter({id: char.id})" ng-disabled="true">View</md-button></td>
					</tr>
				</tbody>
			</table>
		</md-data-table-container>
		<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{characters.total}}" md-trigger="onpagechange" md-row-select="[3, 33, 333]"></md-data-table-pagination>
	</md-content>

	<md-button class="md-fab md-primary md-hue-3" aria-label="new" style="position:fixed;right:-25px;bottom:-25px;" ng-click="newCharacter($event)">
		<md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_add_48px.svg"></md-icon>
	</md-button>