<div layout="column" layout-fill>
	<md-toolbar class="md-whiteframe-z1" style="position:fixed;">
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button menu" hide-gt-lg ng-click="toggleMenu()" aria-label="toggle menu">
				<md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
			</md-button>
			<h2>
				<span>Recomposition</span>
			</h2>
			<span flex></span>
			{{user = 'recomposer'}}
			<span flex></span>
			<md-menu md-position-mode="target-right target">
				<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="VNDB option">
					<md-icon md-menu-origin md-svg-icon="bower_components/material-design-icons/action/svg/production/ic_account_circle_48px.svg"></md-icon>
				</md-button>
				<md-menu-content width="3">
					<md-menu-item>
						<md-button>
							<div layout="row">
								<p flex>placeholding option</p>
								<md-icon md-menu-align-target md-svg-icon=""></md-icon>
							</div>
						</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">
							<div layout="row">
								<p flex>Log Out</p>
								<md-icon md-menu-align-target md-svg-icon=""></md-icon>
							</div>
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>
	</md-toolbar>

	<div flex layout="row">
		<md-sidenav flex="grow" class="md-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')" style="background-color:rgba(255,255,255,0.6); position:fixed; margin-top:64px;">
			<md-toolbar class="md-whiteframe-z1" hide-gt-sm>
				<h1>Recomposition</h1>
			</md-toolbar>

			<md-list>
				<md-list-item ng-click="ariaAssessment()">
					<md-icon md-svg-icon="bower_components/material-design-icons/action/svg/production/ic_assessment_48px.svg"></md-icon>
					<p>Assessment</p>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item ng-click="ariaVn()">
					<md-icon md-svg-icon="bower_components/material-design-icons/av/svg/production/ic_subtitles_48px.svg"></md-icon>
					<p>Visualization</p>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item ng-click="ariaDeveloper()">
					<md-icon md-svg-icon="bower_components/material-design-icons/device/svg/production/ic_developer_mode_48px.svg"></md-icon>
					<p>Development</p>
				</md-list-item>
				<md-divider></md-divider>
				<md-list-item ng-click="ariaCharacter()">
					<md-icon md-svg-icon="bower_components/material-design-icons/social/svg/production/ic_people_48px.svg"></md-icon>
					<p>Characteristique</p>
				</md-list-item>
			</md-list>
		</md-sidenav>
		<div flex layout="column">
			<md-content id="content" role="main" class="md-whiteframe-z2" ui-view flex="grow" style="background-color:transparent; margin-top:64px;">
			</md-content>
		</div>
	</div>
</div>