<div layout="column" ng-cloak class="md-inline-form">
	<md-content layout-pading>
		<form name="developerForm" ng-submit="$event.preventDefault()">
			<md-input-container class="md-block">
				<label>Name En</label>
				<input ng-model="developer.name_en">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Name Jp</label>
				<input ng-model="developer.name_jp">
			</md-input-container>

			<md-button ng-click="updateDeveloper()">Update</md-button>
		</form>
	</md-content>
</div>
