<md-menu md-position-mode="target-right target">
	<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="assessment menu">
		<md-icon md-menu-origin md-svg-icon="bower_components/material-design-icons/navigation/svg/production/ic_more_vert_48px.svg"></md-icon>
	</md-button>
	<md-menu-content width="4">
		<md-menu-item>
			<md-button aria-label="open vndb" ng-href="https://vndb.org/v{{vn.vndb_vn_id}}" target="_blank">
				<div layout="row">
					<p flex>to VNDB</p>
				</div>
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button aria-label="capture search" ng-href="https://encrypted.google.com/search?q={{vn.title_jp | limitTo:50}} 攻略" target="_blank">
				<div layout="row">
					<p flex>攻略を探す</p>
				</div>
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button aria-label="save data search" ng-href="https://encrypted.google.com/search?q={{vn.title_jp | limitTo:50}} セーフデータ" target="_blank">
				<div layout="row">
					<p flex>セーフデータを探す</p>
				</div>
			</md-button>
		</md-menu-item>
		<md-menu-item>
			<md-button aria-label="character search" ng-href="https://encrypted.google.com/search?q={{vn.title_jp | limitTo:50}} キャラ" target="_blank">
				<div layout="row">
					<p flex>キャラクターデータを探す</p>
				</div>
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-menu>