<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button aria-label="go back">
			<
		</md-button>
		<h3><span>{{vn.title_jp}}</span></h3>
		<span flex></span>
		<md-button aria-label="open vndb" ng-href="https://vndb.org/v{{vn.vndb_vn_id}}" target="_blank">
			vndb
		</md-button>
	</div>
</md-toolbar>
<md-content leyout-padding class="md-padding" ng-cloak>
	<form name="assessmentForm" ng-submit="$event.preventDefault()">
		<md-button ng-click="saveAssessment();" class="md-raised md-primary" aria-label="Save Assessment" style="position:fixed; right:20px; top:80px;">
			<md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_save_48px.svg"></md-icon>
			Save
		</md-button>
		<h3 style="display:inline;">Date Start</h3><span ng-show="assessment.date_start" style="display:inline;"> &#x2713;</span>
		<md-switch ng-model="date_start_switch" aria-label="date switch"></md-switch>
		<div ng-show="!assessment.date_start || date_start_switch">
			<time-date-picker ng-model="date_start_local"></time-date-picker>
		</div>
		<div layout layout-sm="column">
			<md-chips>
				<md-chip>{{date_start_local | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</md-chip>
			</md-chips>
			<md-input-container class="md-block">
				<label>Date Start</label>
				<input ng-model="date_start_local" disabled>
			</md-input-container>
			<md-button ng-click="date_start_local = null">clear</md-button>
		</div>

		<h3 style="display:inline;">Date End</h3><span ng-show="assessment.date_end" style="display:inline;"> &#x2713;</span>
		<md-switch ng-model="date_end_switch" aria-label="date switch"></md-switch>
		<div ng-show="!assessment.date_end || date_end_switch">
			<time-date-picker ng-model="date_end_local"></time-date-picker>
		</div>
		<div layout layout-sm="column">
			<md-chips>
				<md-chip>{{date_end_local | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}</md-chip>
			</md-chips>
			<md-input-container class="md-block">
				<label>Date End</label>
				<input ng-model="date_end_local" disabled>
			</md-input-container>
			<md-button ng-click="date_end_local = null">clear</md-button>
		</div>

		<div layout="row">
			<md-input-container flex>
				<label>Node</label>
				<md-select ng-model="assessment.node">
					<md-option value="vn">
						VN
					</md-option>
					<md-option value="h">
						H
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex>
				<label>Status</label>
				<md-select ng-model="assessment.status">
					<md-option value="finished">
						Fin
					</md-option>
					<md-option value="halted">
						Halt
					</md-option>
					<md-option value="decomposed">
						Decompose
					</md-option>
				</md-select>
			</md-input-container>
		</div>

		<span>Story</span>
		<md-radio-group ng-model="assessment.score_story" layout="row">
			<md-radio-button class="md-primary" value="e">E</md-radio-button>
			<md-radio-button class="md-primary" value="d">D</md-radio-button>
			<md-radio-button class="md-primary" value="c">C</md-radio-button>
			<md-radio-button class="md-primary" value="b">B</md-radio-button>
			<md-radio-button class="md-primary" value="a">A</md-radio-button>
			<md-radio-button value="s">S</md-radio-button>
		</md-radio-group>
		<span>Naki</span>
		<md-radio-group ng-model="assessment.score_naki" layout="row">
			<md-radio-button class="md-primary" value="e">E</md-radio-button>
			<md-radio-button class="md-primary" value="d">D</md-radio-button>
			<md-radio-button class="md-primary" value="c">C</md-radio-button>
			<md-radio-button class="md-primary" value="b">B</md-radio-button>
			<md-radio-button class="md-primary" value="a">A</md-radio-button>
			<md-radio-button value="s">S</md-radio-button>
		</md-radio-group>
		<span>Nuki</span>
		<md-radio-group ng-model="assessment.score_nuki" layout="row">
			<md-radio-button class="md-primary" value="e">E</md-radio-button>
			<md-radio-button class="md-primary" value="d">D</md-radio-button>
			<md-radio-button class="md-primary" value="c">C</md-radio-button>
			<md-radio-button class="md-primary" value="b">B</md-radio-button>
			<md-radio-button class="md-primary" value="a">A</md-radio-button>
			<md-radio-button value="s">S</md-radio-button>
		</md-radio-group>
		<span>Graphic</span>
		<md-radio-group ng-model="assessment.score_graphic" layout="row">
			<md-radio-button class="md-primary" value="e">E</md-radio-button>
			<md-radio-button class="md-primary" value="d">D</md-radio-button>
			<md-radio-button class="md-primary" value="c">C</md-radio-button>
			<md-radio-button class="md-primary" value="b">B</md-radio-button>
			<md-radio-button class="md-primary" value="a">A</md-radio-button>
			<md-radio-button value="s">S</md-radio-button>
		</md-radio-group>
		<div layout>
			<div flex="10" layout layout-align="center center">
				<span class="md-body-1">Overall</span>
			</div>
			<md-slider flex="50" class="md-primary" md-discrete ng-model="assessment.score_all" step="1" min="0" max="10" aria-label="overall score">
			</md-slider>
		</div>
		<md-switch ng-model="assessment.archive_savedata" ng-true-value=1 ng-false-value=0 aria-label="save data switch" class="md-primary">
			Save Data
		</md-switch>

		<md-button ng-click="saveAssessment();" class="md-raised md-primary" aria-label="Save Assessment" style="position:fixed; right:20px; bottom:30px;">
			<md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_save_48px.svg"></md-icon>
			Save
		</md-button>
		<md-button ng-click="scrollToTop();" class="md-raised md-warn" aria-label="to top" style="position:fixed; right:120px; bottom:30px;">
			<md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_arrow_drop_up_48px.svg"></md-icon>
		</md-button>
	</form>
</md-content>