<md-toolbar class="md-hue-3" style="min-height:50px; height:50px;">
	<div class="md-toolbar-tools">
		<md-button aria-label="go back" ui-sref="vn">
			<
		</md-button>
		<h3><span>{{vn.title_jp | limitTo:30}}{{vn.title_jp.length > 30 ? '...' : ''}}</span></h3>
		<span flex></span>
		<div ng-include="'views/vnAssessmentToolbarMenu.html'"></div>
	</div>
</md-toolbar>
<md-content>
	<div layout="column">
		<md-button class="md-primary md-raised" ng-click="toggleVndb()" flex-sm="100" flex-md="100" flex-gt-md="auto">vndb</md-button>
		<form name="characterVndbForm" ng-submit="$event.preventDefault()" ng-show="vndb_toggle">
			<div layout leyout-sm="column">
				<md-input-container>
					<label>vndb id</label>
					<input ng-model="vndb.vndb_id">
				</md-input-container>
				<md-button ng-click="retrieveVndbCharacter()">load</md-button>
			</div>
		</form>
		<div layout="row">
			<div flex="60">
				<form name="characterForm" ng-submit="$event.preventDefault()">
					<md-card ng-repeat="chara in characters">
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">{{chara.yobikata}}</span>
								<span class="md-subhead" style="color:rgba(0,0,60,0.3);">{{chara.vndb_character_id}}</span>
							</md-card-title-text>
							<md-card-title-media>
								<div class="md-media-sm card-media">
								</div>
							</md-card-title-media>
						</md-card-title>
						<div flex layout-padding layout="row">
							<div flex="30">
								<img ng-src="{{chara.image}}" style="width:auto; max-width: 100%; max-height:200px">
							</div>
							<div flex="70" style="background-color:#eff;">
								<md-input-container>
									<label>kanji</label>
									<input type="text" ng-model="chara.kanji">
								</md-input-container>
								<md-input-container>
									<label>yobikata</label>
									<input type="text" ng-model="chara.yobikata">
								</md-input-container>
								<md-input-container>
									<label>betsumyou</label>
									<input type="text" ng-model="chara.betsumyou">
								</md-input-container>
								<div layout="row">
									<md-input-container flex="50">
										<label>birthmonth</label>
										<input type="number" ng-model="chara.birthmonth">
									</md-input-container>
									<md-input-container flex="50">
										<label>birthday</label>
										<input type="number" ng-model="chara.birthday">
									</md-input-container>
								</div>
								<div layout="row">
									<md-input-container flex="25">
										<label>height</label>
										<input type="number" ng-model="chara.height">
									</md-input-container>
									<md-input-container flex="25">
										<label>bust</label>
										<input type="number" ng-model="chara.bust">
									</md-input-container>
									<md-input-container flex="25">
										<label>waist</label>
										<input type="number" ng-model="chara.waist">
									</md-input-container>
									<md-input-container flex="25">
										<label>hip</label>
										<input type="number" ng-model="chara.hip">
									</md-input-container>
								</div>
							</div>
						</div>
						<div layout="row" layout-align="center end">
							<md-input-container>
								<label>mark</label>
								<md-select ng-model="chara.mark" ng-change="saveMark(chara)">
									<md-option ng-selected="(chara.mark == 's') ? true : false" value="s">S</md-option>
									<md-option ng-selected="(chara.mark == 'a') ? true : false" value="a">A</md-option>
									<md-option ng-selected="(chara.mark == 'b') ? true : false" value="b">B</md-option>
									<md-option ng-selected="(chara.mark == 'c') ? true : false" value="c">C</md-option>
									<md-option ng-selected="(chara.mark == 'd') ? true : false" value="d">D</md-option>
									<md-option ng-selected="(chara.mark == 'e') ? true : false" value="e">E</md-option>
								</md-select>
							</md-input-container>
						</div>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-click="deleteCharacter($event, chara)">delete</md-button>
							<md-button ng-click="saveCharacter(chara)">save</md-button>
						</md-card-actions>
					</md-card>
				</form>
			</div>
			<div flex="40" ng-show="vndb_toggle">
				<md-card ng-repeat="chara in vndb.characters">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{chara.name}}</span>
							<span class="md-subhead">{{chara.gender}}</span>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<!-- <img src="{{chara.image}}"> -->
							</div>
						</md-card-title-media>
					</md-card-title>
					<div flex layout-padding layout="row">
						<div flex="30">
							<img ng-src="{{chara.image}}" style="width:auto; max-width:100%; max-height:200px" ng-click="purgeCharacterProperty(chara, 'image')">
						</div>
						<div flex="70">
							<md-button ng-show="chara.original" ng-click="purgeCharacterProperty(chara, 'kanji')">original: {{chara.original}}</md-button><br ng-if="chara.original" />
							<md-button ng-show="chara.name" ng-click="purgeCharacterProperty(chara, 'yobikata')">name: {{chara.name}}</md-button><br ng-if="chara.name" />
							<md-button ng-show="chara.aliases" ng-click="purgeCharacterProperty(chara, 'betsumyou')">alias: {{chara.aliases}}</md-button><br ng-if="chara.aliases" />
							<md-button ng-show="chara.birthday" ng-click="purgeCharacterProperty(chara, 'birthdate')">birthday: {{chara.birthday[1]}}.{{chara.birthday[0]}}</md-button><br ng-if="chara.birthday" />
							<md-button ng-show="chara.height" ng-click="purgeCharacterProperty(chara, 'height')">height: {{chara.height}}</md-button>
							<md-button ng-show="chara.bust" ng-click="purgeCharacterProperty(chara, 'bwh')">b-w-h: {{chara.bust}}-{{chara.waist}}-{{chara.hip}}</md-button><br ng-if="chara.bust" />
						</div>
					</div>
					<div flex>
						<md-select ng-model="chara.link" aria-label="linkage">
							<md-option ng-repeat="chara_scope in characters" value="{{chara_scope.id}}">
								{{chara_scope.kanji}}
							</md-option>
						</md-select>
					</div>
					<md-card-actions layout="row" layout-align="end center">
						<md-button ng-click="removeVndbCharacter(chara)">remove</md-button>
						<md-button ng-click="saveVndbCharacter(chara)">save</md-button>
					</md-card-actions>
				</md-card>
			</div>
		</div>
		<md-button ng-click="newCharacter($event)" class="md-fab md-primary" aria-label="new character also" style="position:fixed; right:6px; bottom:6px;">
			<md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_add_48px.svg"></md-icon>
		</md-button>
	</div>
</md-content>

<!-- 	<form name="cha/racterForm" ng-submit="$event.preventDefault()">
		<div layout leyout-sm="column">
			<md-input-container>
				<label>vndb id</label>
				<input ng-model="vndb.vndb_id">
			</md-input-container>
			<md-button ng-click="retrieveVndbCharacter()">load</md-button>
		</div>

		<div layout layout-sm="column">
			<md-input-container flex="35">
				<label>Kanji</label>
				<input ng-model="character.kanji">
			</md-input-container>
			<md-input-container>
				<label>/</label>
			</md-input-container>
			<md-input-container flex="35">
				<label>Yobikata</label>
				<input ng-model="character.yobikata">
			</md-input-container>
		</div>

		<md-input-container class="md-block">
			<label>Betsumyou</label>
			<input ng-model="vn.title_en">
		</md-input-container>

		<div layout layout-sm="column">
			<md-input-container flex="15">
				<label>Birthmonth</label>
				<input ng-model="character.birthmonth">
			</md-input-container>
			<md-input-container>
				<label>-</label>
			</md-input-container>
			<md-input-container flex="15">
				<label>Birthday</label>
				<input ng-model="character.birthday">
			</md-input-container>
		</div>

		<span>Mark</span>
		<md-radio-group ng-model="character.mark" layout="row">
			<md-radio-button class="md-primary" value="e">E</md-radio-button>
			<md-radio-button class="md-primary" value="d">D</md-radio-button>
			<md-radio-button class="md-primary" value="c">C</md-radio-button>
			<md-radio-button class="md-primary" value="b">B</md-radio-button>
			<md-radio-button class="md-primary" value="a">A</md-radio-button>
			<md-radio-button value="s">S</md-radio-button>
		</md-radio-group>

		<md-button ng-click="saveCharacter()">Save</md-button>
	</form> -->