<md-dialog aria-label="set vndb credential" ng-cloak>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h3>Set VNDB</h3>
				<span flex></span>
				<md-buton class="md-icon-button" ng-click="cancel()">
					X
				</md-buton>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width: 800px; max-height: 810px;">
			<div class="md-dialog-content">
				<md-content layout-padding>
					<md-input-container class="md-block">
						<label>user</label>
						<input ng-model="set.username">
					</md-input-container>
					<md-input-container class="md-block">
						<label>pass</label>
						<input type="password" ng-model="set.password">
					</md-input-container>
				</md-content>
			</div>
		</md-dialog-content>
	</form>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				Cancel
			</md-button>
			<md-button ng-click="answer(set)">
				Set
			</md-button>
		</md-dialog-actions>
</md-dialog>