<div layout="column" ng-cloak class="md-inline-form">
	<md-content layout-pading>
		<form name="vnForm" ng-submit="$event.preventDefault()">
			<md-input-container class="md-block">
				<label>Title En</label>
				<input ng-model="vn.title_en">
			</md-input-container>
			<md-input-container class="md-block">
				<label>Title Jp</label>
				<input ng-model="vn.title_jp">
			</md-input-container>
			<div layout="row">
				<md-input-container flex>
					<label>Hashtag</label>
					<input ng-model="vn.hashtag">
				</md-input-container>
				<md-input-container flex>
					<label>Image Url</label>
					<input type="url" ng-model="vn.image">
				</md-input-container>
				<md-input-container flex>
					<label>VNDB ID</label>
					<input type="number" ng-model="vn.vndb_vn_id">
				</md-input-container>
			</div>
			<div layout layout-sm="column">
				<!-- <md-input-container flex>
					<label>Developer</label>
					<input ng-model="">
				</md-input-container> -->
				<md-chips>
					<md-chip>{{vn.developer_id}}</md-chip>
				</md-chips>
				<md-autocomplete
					ng-disabled="isDisabled"
					md-no-cache="noCache"
					md-selected-item="selectedItem"
					md-search-text-change="searchTextChange(searchText)"
					md-search-text="searchText"
					md-selected-item-change="selectedItemChange(item)"
					md-items="item in querySearch(searchText)"
					md-item-text="item.name_en"
					md-min-length="0"
					placeholder="dev">
					<md-item-template>
						<span class="item-title">
							<md-icon md-svg-icon=""></md-icon>
							<span> {{item.value}} </span>
						</span>
						<span class="item-metadata">
							<span class="item-metastat">
								{{item.name_en && item.name_jp ? '/' : ''}}
							</span>
							<span class="item-metastat">
								{{item.name_en && item.name_jp ? item.name_jp : ''}}
							</span>
					</md-item-template>
				</md-autocomplete>
				<md-datepicker ng-model="vn.date_release" md-placeholder="release"></md-datepicker>
				<p>{{vn.date_release}}</p>
				<p>{{vn.date_release | amAdd : '24' : 'hours'}}</p>
			</div>
			<md-button ng-click="updateVn()">Update</md-button>
		</form>
	</md-content>
</div>
