<md-toolbar class="md-theme-light">
	<h3 class="md-toolbar-tools">
		<span>Note</span>
	</h3>
</md-toolbar>
<md-content>
	<md-list>
		<md-list-item class="md-3-line" >
			<div style="width:48px; margin: 16px;">aaa</div>
			<div class="md-list-item-text">
				<h3>xxx</h3>
				<div style="white-space:pre-wrap;background-color:#ddd;" flex contenteditable="true" ng-model="note.interface"></div>
				<!-- <textarea ng-model="note.interface"></textarea> -->
				<br />
				{{note.interface}}
			</div>
			<md-divider md-inset ng-if="!$last"></md-divider>
		</md-list-item>
	</md-list>
</md-content>

<style type="text/css">
	:empty {
	    display: block;
	    height: 1em;
	}
</style>