<md-toolbar class="md-theme-light">
	<h3 class="md-toolbar-tools">
		<span>Note</span>
	</h3>
</md-toolbar>
<md-content layout-padding>
	<div flex layout="row">
		<div flex="10">Interface</div>
		<textarea class="note-textarea" ng-model="note.interface"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">gene</div>
		<textarea class="note-textarea" ng-model="note.gene"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">setting</div>
		<textarea class="note-textarea" ng-model="note.setting"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">side_chara</div>
		<textarea class="note-textarea" ng-model="note.side_chara"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">story</div>
		<textarea class="note-textarea" ng-model="note.story"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">route</div>
		<textarea class="note-textarea" ng-model="note.route"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">bgm</div>
		<textarea class="note-textarea" ng-model="note.bgm"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">terminology</div>
		<textarea class="note-textarea" ng-model="note.terminology"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">timescape</div>
		<textarea class="note-textarea" ng-model="note.timescape"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">quote</div>
		<textarea class="note-textarea" ng-model="note.quote"></textarea>
	</div>
	<div flex layout="row">
		<div flex="10">other</div>
		<textarea class="note-textarea" ng-model="note.other"></textarea>
	</div>
	

</md-content>

<style type="text/css">
	input:empty {
		display: block;
		height: 1em;
	}
	textarea {
		border: 0 none white;
		overflow-x: hidden;
		overflow-y: scroll;
		padding: 0;
		outline: none;
		background-color: #D0D0D0;
		resize: vertical;
		height: 3em;
		width: 100%;
		transition: all 0.5s ease;
	}
	textarea:focus {
		height: 9em;
	}
</style>