<!-- <div class="col-sm-6 col-sm-offset-3">
	<a ui-sref="newVn" class="btn btn-primary">New</a>
	<div class="well">
		<button class="btn btn-primary" style="margin-bottom: 10px" ng-click="">Get vn!</button>
		<table ng-if="vn.total">
			<tr class="list-group-item" ng-repeat="v in vn.data">
				<td>
					<a class="btn btn-primary" ui-sref="showVn({id: v.id})">{{v.title_en}}</a>
					<a class="btn btn-danger" ng-click="deleteVn(v)">Delete</a>
				</td>
			</tr>
		</table>
	</div>
</div> -->




	<!-- <md-toolbar class="md-whiteframe-z1">
		<h3>Visualize Display</h3>
	</md-toolbar> -->
	
	<md-icon md-svg-icon="" class="avatar"></md-icon>
	<h2>proto</h2>
	<a ui-sref="newVn" class="btn btn-primary">New</a>
	<table ng-if="vn.total">
		<tr class="list-group-item" ng-repeat="v in vn.data">
			<td>
				<a class="btn btn-primary" ui-sref="showVn({id: v.id})">{{v.title_en}}</a>
				<a class="btn btn-danger" ng-click="deleteVn(v)">Delete</a>
			</td>
		</tr>
	</table>
