<form role="form" (submit)="login($event, username.value, password.value)" class="login-form">
<input type="text" #username placeholder="Username">
<input type="password" #password placeholder="Password">
<br />
<button type="submit" class="submit-button">Submit</button>
</form>

<!-- <form #heroForm="ngForm" (ngSubmit)="login()" class="login-form">
<input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" name="username">
<input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" name="password">
<br />
<button type="submit" class="submit-button">Submit</button>
</form> -->