<div style="height:100%;width:100%;background-color:rgba(0,0,0,0.3);">

    <form role="form" (submit)="login($event, username.value, password.value)">
        <input type="text" #username placeholder="Username">
        <input type="password" #password placeholder="Password">
        <button type="submit">Submit</button>
    </form>

<!--<div id="bg1" class="bgs" style="background-position: 444px bottom;"></div>
<div id="bg2" class="bgs" style="background-position: 705px bottom;"></div>
<div id="bg3" class="bgs" style="background-position: 332.5px bottom;"></div>-->

<div id="bg1" class="bgs" [style.background-position]="bg1style"></div>
<div id="bg2" class="bgs" [style.background-position]="bg2style"></div>
<div id="bg3" class="bgs" [style.background-position]="bg3style"></div>

</div>
<!--<a [routerLink]="['/signup']">Sign Up</a>-->