<md-sidenav-container>
	<md-sidenav mode="side" opened="true" #start fxLayout="row" style="background-color:rgba(85, 90, 99,0.6);">
		<sidebar-selector></sidebar-selector>
	</md-sidenav>

	<md-toolbar style="position:fixed;">
		Home
		<span style="flex: 1 1 auto;"></span>
		<form #form="ngForm" name="search_form">
			<md-input-container>
				<input mdInput #search placeholder="keyword" align="end" name="search_query">
			</md-input-container>
			<button type="submit" md-button routerLink="/search/{{search.value}}" routerLinkActive="active">Search</button>
		</form>
	</md-toolbar>

	<div class="app-content">
		<home-selectors></home-selectors>
	</div>
	
</md-sidenav-container>