<md-sidenav-layout>
	<md-sidenav mode="side" opened="true" #start (open)="closeStartButton.focus()" fxLayout="row" style="background-color:rgba(85, 90, 99,0.6);">
		<sidebar-selector></sidebar-selector>
	</md-sidenav>

	<md-toolbar style="position:fixed;">
		<button md-button (click)="start.open()">Menu</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
    Setting Page
		&nbsp;&nbsp;&nbsp;&nbsp;
		<form #form="ngForm" name="search_form">
			<md-input #search placeholder="keyword" align="end" name="search_query">
			</md-input>
			<button type="submit" md-button routerLink="/search/{{search.value}}" routerLinkActive="active">Search</button>
		</form>
	</md-toolbar>

	<div class="app-content">
		<app-setting></app-setting>
	</div>
	
</md-sidenav-layout>