Debug: {{debugDump()}}<br /><br />

<md-toolbar>
	<span>
		<a routerLink="/home" routerLinkActive="active">Home</a>
	</span>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<span>
		<strong>
		<a routerLink="/vn" routerLinkActive="active">VN</a>
		</strong>
	</span>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<md-input placeholder="keyword" align="end">
	</md-input>
	<button md-button routerLink="/home" routerLinkActive="active">Search</button>
</md-toolbar>


Custom Shortcut
<button md-button>for copy {{vn.title_jp}}</button><br />

<h3 style="display:inline;">Date Start</h3><span *ngIf="assessment.date_start" style="display:inline;">&#x2713;</span>
{{has_change.date_start}}<input type="checkbox" [(ngModel)]="has_change.date_start">
<md-input placeholder="Date Start" [(ngModel)]="assessment_local.date_start"></md-input>
<button md-button (click)="dateStartNow()">Now</button>
<br /><br />
<h3 style="display:inline;">Date End</h3><span *ngIf="assessment.date_end" style="display:inline;">&#x2713;</span>
{{has_change.date_end}}<input type="checkbox" [(ngModel)]="has_change.date_end">
<md-input placeholder="Date End" [(ngModel)]="assessment_local.date_end"></md-input>
<button md-button (click)="dateEndNow()">Now</button>
<br />
{{assessment.node}}<select [(ngModel)]="assessment.node" (ngModelChange)="assessment.node = $event">
	<option value="vn">VN</option>
	<option value="h">H</option>
	<option value="hrpg">HRPG</option>
	<option value="rpg">RPG</option>
</select><br />
{{assessment.status}}<select [(ngModel)]="assessment.status" (ngModelChange)="assessment.status = $event">
	<option value="finished">Fin</option>
	<option value="halted">Halt</option>
	<option value="decomposed">Decompose</option>
</select><br />
{{assessment.score_story}} Story
<md-radio-group [(ngModel)]="assessment.score_story">
	<md-radio-button value="e">E</md-radio-button>
	<md-radio-button value="d">D</md-radio-button>
	<md-radio-button value="c">C</md-radio-button>
	<md-radio-button value="b">B</md-radio-button>
	<md-radio-button value="a">A</md-radio-button>
	<md-radio-button value="s">S</md-radio-button>
</md-radio-group><br />
{{assessment.score_naki}} Naki
<md-radio-group [(ngModel)]="assessment.score_naki">
	<md-radio-button value="e">E</md-radio-button>
	<md-radio-button value="d">D</md-radio-button>
	<md-radio-button value="c">C</md-radio-button>
	<md-radio-button value="b">B</md-radio-button>
	<md-radio-button value="a">A</md-radio-button>
	<md-radio-button value="s">S</md-radio-button>
</md-radio-group><br />
{{assessment.score_nuki}} Nuki
<md-radio-group [(ngModel)]="assessment.score_nuki">
	<md-radio-button value="e">E</md-radio-button>
	<md-radio-button value="d">D</md-radio-button>
	<md-radio-button value="c">C</md-radio-button>
	<md-radio-button value="b">B</md-radio-button>
	<md-radio-button value="a">A</md-radio-button>
	<md-radio-button value="s">S</md-radio-button>
</md-radio-group><br />
{{assessment.score_comedy}} Comedy
<md-radio-group [(ngModel)]="assessment.score_comedy">
	<md-radio-button value="e">E</md-radio-button>
	<md-radio-button value="d">D</md-radio-button>
	<md-radio-button value="c">C</md-radio-button>
	<md-radio-button value="b">B</md-radio-button>
	<md-radio-button value="a">A</md-radio-button>
	<md-radio-button value="s">S</md-radio-button>
</md-radio-group><br />
{{assessment.score_graphic}} Graphic
<md-radio-group [(ngModel)]="assessment.score_graphic">
	<md-radio-button value="e">E</md-radio-button>
	<md-radio-button value="d">D</md-radio-button>
	<md-radio-button value="c">C</md-radio-button>
	<md-radio-button value="b">B</md-radio-button>
	<md-radio-button value="a">A</md-radio-button>
	<md-radio-button value="s">S</md-radio-button>
</md-radio-group><br />
{{assessment.score_all}}<select [(ngModel)]="assessment.score_all" (ngModelChange)="assessment.score_all = $event">
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
</select><br />
{{assessment.savable}}<select [(ngModel)]="assessment.savable" (ngModelChange)="assessment.savable = $event">
	<option value="unknown">Unknown</option>
	<option value="yes">Savable</option>
	<option value="no">No save</option>
</select><br />

{{assessment.archive_savedata}}<input type="checkbox" [(ngModel)]="assessment.archive_savedata">Save data


<button mg-button (click)="saveAssessment()">Save</button>