<md-sidenav-layout>
	<md-sidenav #start (open)="closeStartButton.focus()">
		Navigation Menu
		<br>
		<a md-button routerLink="/home" routerLinkActive="active">Home</a>
		<br>
		<a md-button routerLink="/vn" routerLinkActive="active">VN</a>
		<br>
		<a md-button routerLink="/setting" routerLinkActive="active">Setting</a>
		<br>
		<button md-button #closeStartButton (click)="start.close()">Close</button>

	</md-sidenav>
   
	<button md-button (click)="start.open()">Menu</button>

	<router-outlet></router-outlet>
</md-sidenav-layout>