table[md-data-table][md-row-select] > thead:not([md-table-progress]) > tr > th:first-child, table[md-data-table][md-row-select] > tbody > tr > td:first-child, table[md-data-table][md-row-select] > tfoot > tr > td:first-child {
    padding: 0 6px;
    width: 18px;
}
table[md-data-table][md-row-select] > thead:not([md-table-progress]) > tr > th:nth-child(2), table[md-data-table][md-row-select] > tbody > tr > td:nth-child(2), table[md-data-table][md-row-select] > tfoot > tr > td:nth-child(2) {
    padding: 0 6px;
}
table[md-data-table][md-row-select] > thead:not([md-table-progress]) > tr > th:nth-child(n+3):nth-last-child(n+2), table[md-data-table][md-row-select] > tbody > tr > td:nth-child(n+3):nth-last-child(n+2), table[md-data-table][md-row-select] > tfoot > tr > td:nth-child(n+3):nth-last-child(n+2) {
    padding: 0 6px;
}
table[md-data-table] > thead:not([md-table-progress]) > tr > th:last-child, table[md-data-table] > tbody > tr > td:last-child, table[md-data-table] > tfoot > tr > td:last-child {
    padding: 0 6px;
}
table[md-data-table] > thead:not([md-table-progress]) > tr > th, table[md-data-table] > tbody > tr > td, table[md-data-table] > tfoot > tr > td {
    text-align: center;
}
table[md-data-table] > thead:not([md-table-progress]) > tr > th > div {
	display: inline;
    height: 13px;
}