<!--Debug: {{debugDump()}}<br /><br />-->
<div class="command-container" style="" fxLayout="row">
	<button md-raised-button color="primary" on-click="saveAssessment()" style="line-height:30px;">Save</button>
	<div class="vndb-temp-checkbox">
		<md-checkbox [(ngModel)]="toggle.temporary_vndb" title="Toogle to enable VNDB vote and status update">VNDB Push</md-checkbox>
	</div>
	<span style="flex: 1 1 auto;"></span>
	<button md-icon-button [mdMenuTriggerFor]="menu" style="position:relative;margin:0 18px;">
		<md-icon>more_vert</md-icon>
	</button>
	<md-menu #menu="mdMenu">
		<button md-menu-item ngxClipboard [cbContent]="vn.title_original">
			<md-icon>content_copy</md-icon>
			<span>Copy original title to clipboard</span>
		</button>
	</md-menu>
</div>

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
	<div fxFlex="70">
		<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start stretch" fxLayoutGap="30px" class="fill-container">
			<md-card fxFlex="45" class="date-card">
				<md-card-header>
					<md-card-title class="date-card-title">
						<h3>Date Start</h3>
						<md-chip-list>
							<ng-template [ngIf]="assessment.date_start">
								<md-chip selected="true" color="primary" style="line-height:9px;">&#x2713; Assigned</md-chip>
							</ng-template>
						</md-chip-list>
					</md-card-title>
					<md-card-subtitle>
						Entering the world
					</md-card-subtitle>
				</md-card-header>
				<md-card-content style="padding: 20px 0;">
					<md-input-container>
						<input mdInput placeholder="Date Start" [(ngModel)]="assessment_local.date_start">
					</md-input-container>
					<button md-button (click)="dateStartNow()">Now</button>
					<br />
					<md-slide-toggle [(ngModel)]="has_change.date_start">Apply change</md-slide-toggle>
				</md-card-content>
			</md-card>

			<md-card fxFlex="45" class="date-card">
				<md-card-header>
					<md-card-title class="date-card-title">
						<h3>Date End</h3>
						<md-chip-list>
							<ng-template [ngIf]="assessment.date_end">
								<md-chip selected="true" color="primary" style="line-height:9px;">&#x2713; Assigned</md-chip>
							</ng-template>
						</md-chip-list>
					</md-card-title>
					<md-card-subtitle>
						Accomplishing the world
					</md-card-subtitle>
				</md-card-header>
				<md-card-content style="padding: 20px 0;">
					<md-input-container>
						<input mdInput placeholder="Date End" [(ngModel)]="assessment_local.date_end">
					</md-input-container>
					<button md-button (click)="dateEndNow()">Now</button>
					<br />
					<md-slide-toggle [(ngModel)]="has_change.date_end">Apply change</md-slide-toggle>
				</md-card-content>
			</md-card>
		</div>

		<md-select placeholder="Node" [(ngModel)]="assessment.node" (ngModelChange)="assessment.node = $event" name="node">
			<md-option value="vn">VN</md-option>
			<md-option value="h">H</md-option>
			<md-option value="hrpg">HRPG</md-option>
			<md-option value="rpg">RPG</md-option>
		</md-select>

		<md-select placeholder="Status" [(ngModel)]="assessment.status" (ngModelChange)="assessment.status = $event" name="status">
			<md-option value="finished">Fin</md-option>
			<md-option value="halted">Halt</md-option>
			<md-option value="decomposed">Decompose</md-option>
		</md-select>

		<br /><br />

		<table class="score-table">
			<tr>
				<th>Story</th>
				<th>Naki</th>
				<th>Nuki</th>
				<th>Comedy</th>
				<th>Graphic</th>
			</tr>
			<tr>
				<td>
					<md-radio-group [(ngModel)]="assessment.score_story" class="score-radio-group">
						<md-radio-button value="s">S</md-radio-button>
						<md-radio-button value="a">A</md-radio-button>
						<md-radio-button value="b">B</md-radio-button>
						<md-radio-button value="c">C</md-radio-button>
						<md-radio-button value="d">D</md-radio-button>
						<md-radio-button value="e">E</md-radio-button>
					</md-radio-group>
				</td>
				<td>
					<md-radio-group [(ngModel)]="assessment.score_naki" class="score-radio-group">
						<md-radio-button value="s">S</md-radio-button>
						<md-radio-button value="a">A</md-radio-button>
						<md-radio-button value="b">B</md-radio-button>
						<md-radio-button value="c">C</md-radio-button>
						<md-radio-button value="d">D</md-radio-button>
						<md-radio-button value="e">E</md-radio-button>
					</md-radio-group>
				</td>
				<td>
					<md-radio-group [(ngModel)]="assessment.score_nuki" class="score-radio-group">
						<md-radio-button value="s">S</md-radio-button>
						<md-radio-button value="a">A</md-radio-button>
						<md-radio-button value="b">B</md-radio-button>
						<md-radio-button value="c">C</md-radio-button>
						<md-radio-button value="d">D</md-radio-button>
						<md-radio-button value="e">E</md-radio-button>
					</md-radio-group>
				</td>
				<td>
					<md-radio-group [(ngModel)]="assessment.score_comedy" class="score-radio-group">
						<md-radio-button value="s">S</md-radio-button>
						<md-radio-button value="a">A</md-radio-button>
						<md-radio-button value="b">B</md-radio-button>
						<md-radio-button value="c">C</md-radio-button>
						<md-radio-button value="d">D</md-radio-button>
						<md-radio-button value="e">E</md-radio-button>
					</md-radio-group>
				</td>
				<td>
					<md-radio-group [(ngModel)]="assessment.score_graphic" class="score-radio-group">
						<md-radio-button value="s">S</md-radio-button>
						<md-radio-button value="a">A</md-radio-button>
						<md-radio-button value="b">B</md-radio-button>
						<md-radio-button value="c">C</md-radio-button>
						<md-radio-button value="d">D</md-radio-button>
						<md-radio-button value="e">E</md-radio-button>
					</md-radio-group>
				</td>
			</tr>
		</table>

		<br /><br />

		<md-select placeholder="Overall" [(ngModel)]="assessment.score_all" (ngModelChange)="assessment.score_all = $event" name="overall">
			<ng-template ngFor let-val [ngForOf]="[10,9,8,7,6,5,4,3,2,1]">
				<md-option [value]="val">{{val}}</md-option>
			</ng-template>
			<md-option [value]="0">0</md-option>
		</md-select>
		
		<br /><br /><br />

		<table class="save-table">
			<tr>
				<td>
					<md-select placeholder="Savable" [(ngModel)]="assessment.savable" (ngModelChange)="assessment.savable = $event" name="savable">
						<md-option value="unknown">Unknown</md-option>
						<md-option value="yes">Savable</md-option>
						<md-option value="no">No save</md-option>
					</md-select>
				</td>
				<td>
					<md-slide-toggle [(ngModel)]="assessment.archive_savedata">Save Data</md-slide-toggle>
				</td>
			</tr>
		</table>

		<span style="flex: 1 1 auto;"></span>
	</div>

	<div fxFlex="20" class="sidebar-container">
		<h3>Search Assistance</h3>
		<md-chip-list class="mat-chip-list-stacked">
			<ng-template [ngIf]="vn.vndb_vn_id">
			<a href="https://vndb.org/v{{vn.vndb_vn_id}}" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					Open in VNDB
					<span>&#9002;&#9002;</span>
				</md-chip>
			</a>
			</ng-template>
			<ng-template [ngIf]="vn.erogamescape_game_id">
				<a href="https://erogamescape.dyndns.org/~ap2/ero/toukei_kaiseki/game.php?game={{vn.erogamescape_game_id}}" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					EGSに開く
					<span>&#9002;&#9002;</span>
				</md-chip>
				</a>
			</ng-template>
			<a href="https://encrypted.google.com/search?q={{vn.title_original_for_search}} 攻略" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					攻略を探す
					<span>&#9002;&#9002;</span>
				</md-chip>
			</a>
			<a href="https://encrypted.google.com/search?q={{vn.title_original_for_search}} セーフデータ" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					セーフデータを探す
					<span>&#9002;&#9002;</span>
				</md-chip>
			</a>
			<a href="https://encrypted.google.com/search?q={{vn.title_original_for_search}} キャラ" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					キャラクターデータを探す
					<span>&#9002;&#9002;</span>
				</md-chip>
			</a>
			<a href="https://encrypted.google.com/search?q={{vn.title_original_for_search}} パッチ" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					 パッチを探す
					<span>&#9002;&#9002;</span>
				</md-chip>
			</a>
			<a href="https://encrypted.google.com/search?q={{vn.title_original_for_search}} パッチ holyseal" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					 聖封パッチを探す
					<span>&#9002;&#9002;</span>
				</md-chip>
			</a>
			<a href="https://encrypted.google.com/search?q={{vn.title_original_for_search}} nodvd" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					 NoDVDパッチを探す
					<span>&#9002;&#9002;</span>
				</md-chip>
			</a>
			<a href="https://encrypted.google.com/search?q={{vn.title_original_for_search}} 認証回避" target="_blank">
				<md-chip selected="true" color="" class="external-link-chip">
					 認証回避を探す
					<span>&#9002;&#9002;</span>
				</md-chip>
			</a>
		
		</md-chip-list>
	</div>	
</div>