.score-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.score-table {
  text-align: center;
  vertical-align: top;
  min-width: 60%;
  margin-left: -30px;
}

table {
  border-collapse: collapse;
}
table td, table th {
  /*border: 1px solid deepskyblue;*/
  border-width: 1px;
  border-style: dotted;
  border-color: deepskyblue;
  min-width: 
}
table tr:first-child th {
  border-top: 0;
  width: 80px;
  /*remove separator between head and body*/
  border-bottom: 0;
}
table tr:last-child td {
  border-bottom: 0;
  /*remove separator between head and body*/
  border-top: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.save-table td {
  vertical-align: middle;
  padding: 10px;
}

.fill-container {
  margin: 0 0 30px 0;
}

.command-container {
  height: 34px;
  padding: 0 0 0 20px;
  margin: 0 0 20px 0;
}
.vndb-temp-checkbox {
  margin: 5px 5px 0 10px;
}