<button md-button on-click="newCharacter($event)" style="position:fixed; right:6px; bottom:6px;">Add</button>

<md-input placeholder="VNDB VN ID" [(ngModel)]="vndb.vn_id" name="vndbvnid"></md-input>
<button md-button on-click="retrieveVndbCharacter()">Load</button>
<br />

<div template="ngIf vndb.characters && vndb.characters.length > 0">
	<button md-button on-click="saveAllVndbCharacters()">Save All</button>
	<div style="display: flex; flex-direction: row; overflow-x: auto;">
		<md-card template="ngFor let chara of vndb.characters" style="flex: 1 1 30%;">
			<md-card-title>{{chara.name}}</md-card-title>
			<md-card-subtitle>{{chara.description}}</md-card-subtitle>
			<div style="display: flex; flex-direction: row">
				<div style="flex: 1 1 30%">
					<img src="{{chara.image}}" style="width:auto; max-width:100%; max-height:200px;" on-click="purgeCharacterProperty(chara, 'image')">
					<button md-button *ngIf="chara.id" on-click="purgeCharacterProperty(chara, 'id')">ID: {{chara.id}}</button>
				</div>
				<div style="flex: 1 1 70%;">
					<button md-button *ngIf="chara.original" on-click="purgeCharacterProperty(chara, 'kanji')">original: {{chara.original}}</button><br>
					<button md-button *ngIf="chara.name" on-click="purgeCharacterProperty(chara, 'yobikata')">name: {{chara.name}}</button><br>
					<button md-button *ngIf="chara.aliases" on-click="purgeCharacterProperty(chara, 'betsumyou')">alias: {{chara.aliases}}</button><br>
					<button md-button *ngIf="chara.birthday" on-click="purgeCharacterProperty(chara, 'birthdate')">birthday: {{chara.birthday[1]}}.{{chara.birthday[0]}}</button><br>
					<button md-button *ngIf="(chara.height || chara.weight || chara.bloodt)" on-click="purgeCharacterProperty(chara, 'height')">height-weight-blood: {{chara.height}}-{{chara.weight}}-{{chara.bloodt}}</button><br>
					<button md-button *ngIf="chara.bust" on-click="purgeCharacterProperty(chara, 'bwh')">b-w-h: {{chara.bust}}-{{chara.waist}}-{{chara.hip}}</button><br>
				</div>
			</div>
			<div>
				<select *ngIf="characters" [(ngModel)]="chara.link" name="link">
					<option *ngFor="let chara_scope of characters" [ngValue]="chara_scope.id">{{chara_scope.kanji}}</option>
				</select><br>
			</div>
			<md-card-actions align="end">
				<button md-button on-click="removeVndbCharacter(chara)">remove</button>
				<button md-button on-click="saveVndbCharacter(chara)">save</button>
			</md-card-actions>
		</md-card>
	</div>
</div>

<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
	<md-card template="ngFor let chara of characters; trackBy:customTrackBy; let i=index;" fxFlex="33" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="33" class="flex-item" >
		<form #form="ngForm" name="characterForm" (ngSubmit)="onSubmit()">
			<md-card-title>{{chara.yobikata}}</md-card-title>
			<md-card-content>
			<div fxLayout="row">
				<div fxFlex="30">
					<img [src]="chara.image" style="width:auto; max-width:100%; max-height:200px;">
					<md-card-subtitle style="color:rgba(0,0,60,0.3);"><a href="https://vndb.org/c{{chara.vndb_character_id}}/edit" target="_blank">{{chara.vndb_character_id}}</a></md-card-subtitle>
					<md-input placeholder="img" [(ngModel)]="chara.image" name="image" style="margin-top:10px;"></md-input>
					<div style="display:flex; flex-direction:row; margin:20px 0;">
						<select [(ngModel)]="chara.mark" (ngModelChange)="saveMark(chara)" name="mark">
							<option value="s">s</option>
							<option value="a">a</option>
							<option value="b">b</option>
							<option value="c">c</option>
							<option value="d">d</option>
							<option value="e">e</option>
						</select>
					</div>
				</div>
				<div fxFlex="70" style="background-color: #eff;">
					<br>
					<div fxLayout="row">
						<md-input placeholder="kanji" [(ngModel)]="chara.kanji" name="kanji" [style.background-color]="isNameMatch(chara.kanji, chara.paste_kanji) ? '' : 'rgba(255,0,0,0.5)'"></md-input>
						<md-input placeholder="paste" [(ngModel)]="chara.paste_kanji" name="paste_kanji" on-keypress="replaceValue($event, chara, 'kanji')" title="Enter to inject"></md-input>
					</div>
					<br>
					<md-input placeholder="yobikata" [(ngModel)]="chara.yobikata" name="yobikata"></md-input>
					<br>
					<md-input placeholder="betsumyou" [(ngModel)]="chara.betsumyou" name="betsumyou"></md-input><br>
					<div fxLayout="row">
						<md-input placeholder="birthmonth" [(ngModel)]="chara.birthmonth" name="birthmonth"></md-input>
						<md-input placeholder="birthday" [(ngModel)]="chara.birthday" name="birthday"></md-input>
						<md-input placeholder="age" [(ngModel)]="chara.age" name="age"></md-input>
					</div>
					<div fxLayout="row">
						<md-input placeholder="height" [(ngModel)]="chara.height" name="height"></md-input>
						<md-input placeholder="weight" [(ngModel)]="chara.weight" name="weight"></md-input>
						<md-input placeholder="blood type" [(ngModel)]="chara.blood_type" name="blood_type"></md-input>
					</div>
					<br>
					<div fxLayout="row">
						<md-input placeholder="bust" [(ngModel)]="chara.bust" name="bust"></md-input>
						<md-input placeholder="waist" [(ngModel)]="chara.waist" name="waist"></md-input>
						<md-input placeholder="hip" [(ngModel)]="chara.hip" name="hip"></md-input>
					</div>
					<br>
					<md-input-container style="width:100%;">
						<textarea md-input placeholder="description" [(ngModel)]="chara.description" name="description" style="resize:vertical;"></textarea>
					</md-input-container>
					 <!--<md-input-container class="example-full-width">
					<textarea md-input placeholder="Address">1600 Amphitheatre Pkwy</textarea>
					</md-input-container>-->
				</div>
			</div>
			</md-card-content>

			<md-card-actions align="end">
				<button md-button type="submit" on-click="saveCharacter(chara)">save</button>
				<button md-button type="button" on-click="deleteCharacter($event, chara)">delete</button>
			</md-card-actions>
		</form>
	</md-card>
</div>


<button md-fab style="position:fixed; right:10px; bottom:10px;" on-click="newCharacter($event)">
	<md-icon class="md-24">add</md-icon>
</button>