
<div style="height:64px;" fxLayout="row">
	<md-input-container>
		<input mdInput placeholder="VNDB VN ID" [(ngModel)]="vndb.vn_id" name="vndbvnid">
	</md-input-container>
	<button md-button on-click="retrieveVndbCharacter()">Load</button>

	<span style="flex: 1 1 auto;"></span>

	<button md-fab style="position:relative; margin:0 18px;" on-click="newCharacter($event)">
		<md-icon class="md-24">add</md-icon>
	</button>
</div>

<ng-template [ngIf]="vndb.characters && vndb.characters.length > 0">
	<div>
		<button md-button on-click="saveAllVndbCharacters()">Save All</button>
		<div style="display: flex; flex-direction: row; overflow-x: auto;">
			<ng-template ngFor let-chara [ngForOf]="vndb.characters">
				<md-card style="flex: 1 1 30%;">
					<md-card-title>{{chara.name}}</md-card-title>
					<md-card-subtitle>{{chara.description}}</md-card-subtitle>
					<div style="display: flex; flex-direction: row">
						<div style="flex: 1 1 30%">
							<img src="{{chara.image}}" style="width:auto; max-width:100%; max-height:200px;" on-click="purgeCharacterProperty(chara, 'image')">
							<button md-button *ngIf="chara.id" on-click="purgeCharacterProperty(chara, 'id')">ID: {{chara.id}}</button>
						</div>
						<div style="flex: 1 1 70%;">
							<button md-button *ngIf="chara.original" on-click="purgeCharacterProperty(chara, 'name_original')">original: {{chara.original}}</button><br>
							<button md-button *ngIf="chara.name" on-click="purgeCharacterProperty(chara, 'name_furigana')">name: {{chara.name}}</button><br>
							<button md-button *ngIf="chara.aliases" on-click="purgeCharacterProperty(chara, 'name_betsumyou')">alias: {{chara.aliases}}</button><br>
							<button md-button *ngIf="chara.birthday" on-click="purgeCharacterProperty(chara, 'birthdate')">birthday: {{chara.birthday[1]}}.{{chara.birthday[0]}}</button><br>
							<button md-button *ngIf="(chara.height || chara.weight || chara.bloodt)" on-click="purgeCharacterProperty(chara, 'height')">height-weight-blood: {{chara.height}}-{{chara.weight}}-{{chara.bloodt}}</button><br>
							<button md-button *ngIf="chara.bust" on-click="purgeCharacterProperty(chara, 'bwh')">b-w-h: {{chara.bust}}-{{chara.waist}}-{{chara.hip}}</button><br>
						</div>
					</div>
					<div>
						<select *ngIf="characters" [(ngModel)]="chara.link" name="link">
							<option *ngFor="let chara_scope of characters" [ngValue]="chara_scope.id">{{chara_scope.name_original}}</option>
						</select><br>
					</div>
					<md-card-actions align="end">
						<button md-button on-click="removeVndbCharacter(chara)">remove</button>
						<button md-button on-click="saveVndbCharacter(chara)">save</button>
					</md-card-actions>
				</md-card>
			</ng-template>
		</div>
	</div>
</ng-template>

<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
	<md-card *ngFor="let chara of characters; trackBy:customTrackBy; let i=index;" fxFlex="33" fxFlex.sm="100" fxFlex.md="50"
	 fxFlex.lg="33" class="flex-item">
		<form #form="ngForm" name="characterForm" (ngSubmit)="onSubmit()">
			<md-card-title>{{chara.name_furigana}}</md-card-title>
			<md-card-content>
				<div fxLayout="row">
					<div fxFlex="30">
						<div ng2FileDrop [ngClass]="{'drop-zone-over':hasBaseDropZoneOver == chara.id}" (fileOver)="fileOverBase($event,chara.id)" [uploader]="uploader" class="drop-zone" (drop)="dropTrigger($event, chara)" style="height:200px;width:90%;background-color:aquamarine;">
							<img [src]="chara.local_url" style="width:auto; max-width:100%; max-height:200px;">
						</div>
						<md-card-subtitle style="color:rgba(0,0,60,0.3);"><a href="https://vndb.org/c{{chara.vndb_character_id}}/edit" target="_blank">{{chara.vndb_character_id}}</a></md-card-subtitle>
						<md-input-container>
							<input mdInput placeholder="img" [(ngModel)]="chara.image" name="image" style="margin-top:10px;">
						</md-input-container>
						<div style="display:flex; flex-direction:row; margin:20px 0;">
							<select [(ngModel)]="chara.mark" (ngModelChange)="saveMark(chara)" name="mark">
							<option value="s">s</option>
							<option value="a">a</option>
							<option value="b">b</option>
							<option value="c">c</option>
							<option value="d">d</option>
							<option value="e">e</option>
						</select>
						</div>
					</div>
					<div fxFlex="70" style="background-color: #eff;">
						<br>
						<div fxLayout="row">
							<md-input-container>
								<input mdInput placeholder="original name" [(ngModel)]="chara.name_original" name="originalname" [style.background-color]="isNameMatch(chara.name_original, chara.paste_name_original) ? '' : 'rgba(255,0,0,0.5)'">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="paste" [(ngModel)]="chara.paste_name_original" name="paste_name_original" on-keypress="replaceValue($event, chara, 'name_original')"
							 title="Enter to inject">
							</md-input-container>
						</div>
						<br>
						<md-input-container>
							<input mdInput placeholder="furigana" [(ngModel)]="chara.name_furigana" name="furigana">
						</md-input-container>
						<br>
						<md-input-container>
							<input mdInput placeholder="alias" [(ngModel)]="chara.name_betsumyou" name="alias"><br>
						</md-input-container>
						<div fxLayout="row">
							<md-input-container>
								<input mdInput placeholder="birthmonth" [(ngModel)]="chara.birthmonth" name="birthmonth">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="birthday" [(ngModel)]="chara.birthday" name="birthday">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="age" [(ngModel)]="chara.age" name="age">
							</md-input-container>
						</div>
						<div fxLayout="row">
							<md-input-container>
								<input mdInput placeholder="height" [(ngModel)]="chara.height" name="height">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="weight" [(ngModel)]="chara.weight" name="weight">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="blood type" [(ngModel)]="chara.blood_type" name="blood_type">
							</md-input-container>
						</div>
						<br>
						<div fxLayout="row">
							<md-input-container>
								<input mdInput placeholder="bust" [(ngModel)]="chara.bust" name="bust">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="waist" [(ngModel)]="chara.waist" name="waist">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="hip" [(ngModel)]="chara.hip" name="hip">
							</md-input-container>
						</div>
						<br>
						<md-input-container style="width:100%;">
							<textarea mdInput placeholder="description" [(ngModel)]="chara.description" name="description" style="resize:vertical;"></textarea>
						</md-input-container>
						<!--<md-input-container class="example-full-width">
					<textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
					</md-input-container>-->
					</div>
				</div>
			</md-card-content>

			<md-card-actions align="end">
				<button md-button type="submit" on-click="saveCharacter(chara)">save</button>
				<button md-button type="button" on-click="deleteCharacter($event, chara)">delete</button>
			</md-card-actions>
		</form>
	</md-card>
</div>


