
<ng-template [ngIf]="user.role == 'administrator'">
	<div class="sub-bar" fxLayout="row">
		<md-input-container>
			<input mdInput placeholder="VNDB VN ID" [(ngModel)]="vndb.vn_id" name="vndbvnid">
		</md-input-container>
		<button md-button on-click="retrieveVndbCharacter2()">Load</button>

		<span class="spanning-flex"></span>

		<button md-fab class="new-chara-button" on-click="newCharacter($event)">
			<md-icon class="md-24">add</md-icon>
		</button>
	</div>
</ng-template>

<ng-template [ngIf]="vndb.characters && vndb.characters.length > 0">
	<div>
		<button md-button on-click="saveAllVndbCharacters()">Save All</button>
		<div class="vndb-chara-container">
			<ng-template ngFor let-chara [ngForOf]="vndb.characters">
				<md-card class="flex-30">
					<md-card-title>{{chara.name || chara.original}}</md-card-title>
					<md-card-subtitle>{{chara.description}}</md-card-subtitle>
					<div class="flex-row">
						<div class="flex-30">
							<img src="{{chara.image ? chara.image.url : ''}}" class="vndb-chara-image" on-click="purgeCharacterProperty(chara, 'image')">
							<button md-button *ngIf="chara.id" on-click="purgeCharacterProperty(chara, 'id')">ID: {{chara.id}}</button>
						</div>
						<div class="flex-70">
							<button md-button *ngIf="chara.original" on-click="purgeCharacterProperty(chara, 'name_original')">original: {{chara.original}}</button><br>
							<button md-button *ngIf="chara.name" on-click="purgeCharacterProperty(chara, 'name_furigana')">name: {{chara.name}}</button><br>
							<button md-button *ngIf="chara.aliases" on-click="purgeCharacterProperty(chara, 'name_betsumyou')">alias: {{chara.aliases}}</button><br>
							<button md-button *ngIf="chara.birthday" on-click="purgeCharacterProperty(chara, 'birthdate')">birthday: {{chara.birthday[1]}}.{{chara.birthday[0]}} {{chara.age ? " - " + chara.age : ""}}</button><br>
							<button md-button *ngIf="(chara.height || chara.weight || chara.blood_type)" on-click="purgeCharacterProperty(chara, 'height')">height-weight-blood: {{chara.height}}-{{chara.weight}}-{{chara.blood_type}}</button><br>
							<button md-button *ngIf="chara.bust" on-click="purgeCharacterProperty(chara, 'bwh')">b-w-h: {{chara.bust}}-{{chara.waist}}-{{chara.hips}}</button><br>
						</div>
					</div>
					<div>
						<select *ngIf="characters" [(ngModel)]="chara.link" name="link">
							<option *ngFor="let chara_scope of characters" [ngValue]="chara_scope.id">{{chara_scope.name_original}}</option>
						</select><br>
					</div>
					<md-card-actions align="end">
						<button md-button on-click="removeVndbCharacter(chara)">remove</button>
						<button md-button on-click="saveVndbCharacter(chara)">save</button>
					</md-card-actions>
				</md-card>
			</ng-template>
		</div>
	</div>
</ng-template>

<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
	<md-card *ngFor="let chara of characters; trackBy:customTrackBy; let i=index;" fxFlex="33" fxFlex.sm="100" fxFlex.md="50"
	 fxFlex.lg="33" class="flex-item">
		<form #form="ngForm" name="characterForm" (ngSubmit)="onSubmit()">
			<md-card-title>{{chara.name_furigana}}</md-card-title>
			<md-card-content>
				<div fxLayout="row">
					<div fxFlex="30">
						<ng-template [ngIf]="user.role == 'administrator'">
							<div ng2FileDrop [ngClass]="{'drop-zone-over':hasBaseDropZoneOver == chara.id}" (fileOver)="fileOverBase($event,chara.id)" [uploader]="uploader" class="chara-image-container drop-zone" (drop)="dropTrigger($event, chara)">
								<img [src]="chara.local_image_url" class="chara-image">
							</div>
						</ng-template>
						<ng-template [ngIf]="user.role == 'common'">
							<div class="chara-image-container">
								<img [src]="chara.local_image_url" class="chara-image">
							</div>
						</ng-template>
						<ng-template [ngIf]="user.role == 'administrator'">
							<md-card-subtitle class="card-subtitle"><a href="https://vndb.org/c{{chara.vndb_character_id}}/edit" target="_blank">{{chara.vndb_character_id}}</a></md-card-subtitle>
							<md-input-container>
								<input mdInput placeholder="img" [(ngModel)]="chara.image" name="image" class="chara-image-input">
							</md-input-container>
						</ng-template>
						<ng-template [ngIf]="user.role != 'guest'">
							<div class="chara-mark-selection">
								<md-select placeholder="Mark" [(ngModel)]="chara.mark" (ngModelChange)="saveMark(chara)" name="mark">
									<md-option value="s">s</md-option>
									<md-option value="a">a</md-option>
									<md-option value="b">b</md-option>
									<md-option value="c">c</md-option>
									<md-option value="d">d</md-option>
									<md-option value="e">e</md-option>
								</md-select>
							</div>
						</ng-template>
					</div>
					<div fxFlex="70" class="chara-properties-container">
						<br>
						<div fxLayout="row">
							<md-input-container>
								<input mdInput placeholder="original name" [(ngModel)]="chara.name_original" name="originalname" [style.background-color]="isNameMatch(chara.name_original, chara.paste_name_original) ? '' : 'rgba(255,0,0,0.5)'" [disabled]="user.role != 'administrator'">
							</md-input-container>
							<ng-template [ngIf]="user.role == 'administrator'">
								<md-input-container>
									<input mdInput placeholder="paste" [(ngModel)]="chara.paste_name_original" name="paste_name_original" on-keypress="replaceValue($event, chara, 'name_original')"
								title="Enter to inject">
								</md-input-container>
							</ng-template>
						</div>
						<br>
						<md-input-container>
							<input mdInput placeholder="furigana" [(ngModel)]="chara.name_furigana" name="furigana" [disabled]="user.role != 'administrator'">
						</md-input-container>
						<br>
						<md-input-container>
							<input mdInput placeholder="alias" [(ngModel)]="chara.name_betsumyou" name="alias" [disabled]="user.role != 'administrator'"><br>
						</md-input-container>
						<div fxLayout="row">
							<md-input-container>
								<input mdInput placeholder="birthmonth" [(ngModel)]="chara.birthmonth" name="birthmonth" [disabled]="user.role != 'administrator'">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="birthday" [(ngModel)]="chara.birthday" name="birthday" [disabled]="user.role != 'administrator'">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="age" [(ngModel)]="chara.age" name="age" [disabled]="user.role != 'administrator'">
							</md-input-container>
						</div>
						<div fxLayout="row">
							<md-input-container>
								<input mdInput placeholder="height" [(ngModel)]="chara.height" name="height" [disabled]="user.role != 'administrator'">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="weight" [(ngModel)]="chara.weight" name="weight" [disabled]="user.role != 'administrator'">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="blood type" [(ngModel)]="chara.blood_type" name="blood_type" [disabled]="user.role != 'administrator'">
							</md-input-container>
						</div>
						<br>
						<div fxLayout="row">
							<md-input-container>
								<input mdInput placeholder="bust" [(ngModel)]="chara.bust" name="bust" [disabled]="user.role != 'administrator'">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="waist" [(ngModel)]="chara.waist" name="waist" [disabled]="user.role != 'administrator'">
							</md-input-container>
							<md-input-container>
								<input mdInput placeholder="hip" [(ngModel)]="chara.hip" name="hip" [disabled]="user.role != 'administrator'">
							</md-input-container>
						</div>
						<br>
						<md-input-container class="full-width">
							<textarea mdInput placeholder="description" [(ngModel)]="chara.description" name="description" class="description-input" [disabled]="user.role != 'administrator'"></textarea>
						</md-input-container>
					</div>
				</div>
			</md-card-content>

			<ng-template [ngIf]="user.role == 'administrator'">
				<md-card-actions align="end">
					<button md-raised-button type="submit" on-click="saveCharacter(chara)" color="primary">save</button>
					<button md-raised-button type="button" on-click="deleteCharacter($event, chara)" color="warn">delete</button>
				</md-card-actions>
			</ng-template>
		</form>
	</md-card>
</div>


