.drop-zone {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: dotted 3px lightgray;
  margin: 20px 30px;
}
.drop-zone-over {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: dotted 3px green;
  margin: 20px 30px;
}
.drop-zone-text {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.screenshot-item-container {
  background-color: #ceffff;
}
.screenshot-image-container {
  position: relative;
  padding: 6px;
}
.screenshot-image {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}
.screenshot-delete-button {
  position: absolute;
  right: 0px;
  top: 0px;
}