<md-sidenav-container>
	<md-sidenav mode="side" opened="true" #start (open)="closeStartButton.focus()" fxLayout="row" style="background-color:rgba(85, 90, 99,0.6);">
		<sidebar-selector></sidebar-selector>
	</md-sidenav>
	
	<md-toolbar>
		<span>Screenshots page of {{vn.title_original}}</span>
    <span style="flex: 1 1 auto;"></span>
    <a md-raised-button [routerLink]="['/vn', vn.id, 'edit']">Fill</a>
	</md-toolbar>

	<!--Manual selection <input type="file" ng2FileSelect [uploader]="uploader" multiple disabled/><br/>-->

	<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
		<div fxFlex="20">
			<div ng2FileDrop [ngClass]="{'drop-zone-over':hasBaseDropZoneOver == 1}" (fileOver)="fileOverBase($event,1)" [uploader]="uploader" class="drop-zone" (drop)="dropTrigger($event, 1)">
				<span class="drop-zone-text">Title</span>
			</div>
		</div>
		<div fxFlex="20">
			<div ng2FileDrop [ngClass]="{'drop-zone-over':hasBaseDropZoneOver == 2}" (fileOver)="fileOverBase($event,2)" [uploader]="uploader" class="drop-zone" (drop)="dropTrigger($event, 2)">
				<span class="drop-zone-text">Gameplay</span>
			</div>
		</div>
		<div fxFlex="20">
			<div ng2FileDrop [ngClass]="{'drop-zone-over':hasBaseDropZoneOver == 3}" (fileOver)="fileOverBase($event,3)" [uploader]="uploader" class="drop-zone" (drop)="dropTrigger($event, 3)">
				<span class="drop-zone-text">Configuration</span>
			</div>
		</div>
		<div fxFlex="20">
			<div ng2FileDrop [ngClass]="{'drop-zone-over':hasBaseDropZoneOver == 4}" (fileOver)="fileOverBase($event,4)" [uploader]="uploader" class="drop-zone" (drop)="dropTrigger($event, 4)">
				<span class="drop-zone-text">Save/Load</span>
			</div>
		</div>
		<div fxFlex="20">
			<div ng2FileDrop [ngClass]="{'drop-zone-over':hasBaseDropZoneOver == 5}" (fileOver)="fileOverBase($event,5)" [uploader]="uploader" class="drop-zone" (drop)="dropTrigger($event, 5)">
				<span class="drop-zone-text">Extra</span>
			</div>
		</div>
	</div>

	<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
		<div fxFlex="20">
			<div template="ngFor let shot of screenshots">
				<div class="screenshot-item-container" template="ngIf shot.screen_category == 1">
					<div class="screenshot-image-container">
						<img src="{{shot.local_url}}" class="screenshot-image">
						<button md-mini-fab on-click="deleteScreenshot(shot)" class="screenshot-delete-button">
							<md-icon>delete</md-icon>
						</button>
						<button md-mini-fab on-click="updateScreenshot(shot)" class="screenshot-save-button">
							<md-icon>save</md-icon>
						</button>
					</div>
					<md-input-container>
						<input mdInput placeholder="description" [(ngModel)]="shot.description">
					</md-input-container>
					
					<md-divider></md-divider>
				</div>
			</div>
		</div>
		<div fxFlex="20">
			<div template="ngFor let shot of screenshots">
				<div class="screenshot-item-container" template="ngIf shot.screen_category == 2">
					<div class="screenshot-image-container">
						<img src="{{shot.local_url}}" class="screenshot-image">
						<button md-mini-fab on-click="deleteScreenshot(shot)" class="screenshot-delete-button">
							<md-icon>delete</md-icon>
						</button>
						<button md-mini-fab on-click="updateScreenshot(shot)" class="screenshot-save-button">
							<md-icon>save</md-icon>
						</button>
					</div>
					<md-input-container>
						<input mdInput placeholder="description" [(ngModel)]="shot.description">
					</md-input-container>

					<md-divider></md-divider>
				</div>
			</div>
		</div>
		<div fxFlex="20">
			<div template="ngFor let shot of screenshots">
				<div class="screenshot-item-container" template="ngIf shot.screen_category == 3">
					<div class="screenshot-image-container">
						<img src="{{shot.local_url}}" class="screenshot-image">
						<button md-mini-fab on-click="deleteScreenshot(shot)" class="screenshot-delete-button">
							<md-icon>delete</md-icon>
						</button>
						<button md-mini-fab on-click="updateScreenshot(shot)" class="screenshot-save-button">
							<md-icon>save</md-icon>
						</button>
					</div>
					<md-input-container>
						<input mdInput placeholder="description" [(ngModel)]="shot.description">
					</md-input-container>

					<md-divider></md-divider>
				</div>
			</div>
		</div>
		<div fxFlex="20">
			<div template="ngFor let shot of screenshots">
				<div class="screenshot-item-container" template="ngIf shot.screen_category == 4">
					<div class="screenshot-image-container">
						<img src="{{shot.local_url}}" class="screenshot-image">
						<button md-mini-fab on-click="deleteScreenshot(shot)" class="screenshot-delete-button">
							<md-icon>delete</md-icon>
						</button>
						<button md-mini-fab on-click="updateScreenshot(shot)" class="screenshot-save-button">
							<md-icon>save</md-icon>
						</button>
					</div>
					<md-input-container>
						<input mdInput placeholder="description" [(ngModel)]="shot.description">
					</md-input-container>

					<md-divider></md-divider>
				</div>
			</div>
		</div>
		<div fxFlex="20">
			<div template="ngFor let shot of screenshots">
				<div class="screenshot-item-container" template="ngIf shot.screen_category == 5">
					<div class="screenshot-image-container">
						<img src="{{shot.local_url}}" class="screenshot-image">
						<button md-mini-fab on-click="deleteScreenshot(shot)" class="screenshot-delete-button">
							<md-icon>delete</md-icon>
						</button>
						<button md-mini-fab on-click="updateScreenshot(shot)" class="screenshot-save-button">
							<md-icon>save</md-icon>
						</button>
					</div>
					<md-input-container>
						<input mdInput placeholder="description" [(ngModel)]="shot.description">
					</md-input-container>
					
					<md-divider></md-divider>
				</div>
			</div>
		</div>
	</div>


<!--<div *ngFor="let item of uploader.queue">
	<p>{{item?.file?.name}}</p>
</div>-->

	<!--<div class="flex-container" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-around stretch">
		<div fxFlex="20">
      >>>repeat show screenshots
			<md-input-container>
				<input mdInput placeholder="description" [(ngModel)]="imagewhatever">
			</md-input-container>
      >>>selection to change screentype
			<button md-button on-click="update()">Update</button>
      >>>delete button is floating at the corner of the image
		</div>
	</div>-->

	

</md-sidenav-container>