<p>Credential status: {{vndb.status}}</p>
<p>Toggle status: {{vndbToggleStatus()}} <button md-button on-click="toggleVndbCredentials()">toggle</button></p>

<form #form="ngForm" name="vndb_credential_form">
	<md-input-container>
		<input mdInput type="text" placeholder="username" name="username" [(ngModel)]="vndb.username">
	</md-input-container>
	<md-input-container>
		<input mdInput type="password" placeholder="password" name="password" [(ngModel)]="vndb.password">
	</md-input-container>
	<button md-button type="submit" on-click="setVndbCredentials()">Set</button>
</form>